name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --verbose
    - name: Publish artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        name: trackie
        path: |
          target/debug/trackie
          target/debug/trackie.exe
        if-no-files-found: error
